@import 'app.css';

body{
  background-image: url('../img/fondo.jpg');
  background-size: cover;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50.6rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.login-container{
  width: 40%;
}
.callout.login h4{
  text-align: center;
  color: #8B0913;
}
div.btn-container{
  display: flex;
  justify-content: center;
}
